.p-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 800px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

}

.p-list::-webkit-scrollbar {
    display: none;
  }
